<!DOCTYPE html>
<html lang="ru" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"/>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/nav">Навигация</div>

<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="jumbotron text-center rounded col-md-8 align-self-center pt-5">
                <h1 class="text-center text-dark mt-5">Список членских взносов</h1>

                <a class="btn btn-primary mb-3"
                   href="/admin/">Панель администратора</a>

                <div class="mb-4">
                    <a class="btn btn-success" th:href="@{create}">Создать членский взнос</a>
                </div>

                <div th:if="${#lists.isEmpty(model.membershipFeeModels)}" class="alert alert-info">

                </div>

                <div th:if="${not #lists.isEmpty(model.membershipFeeModels)}">
                    <div th:each="membership : ${model.membershipFeeModels}"
                         class="d-flex flex-column bg-text mb-3 p-3 border rounded">
                        <h4 th:text="'Id: ' + ${membership.id}"></h4>
                        <h4 th:text="'Собираемая сумма: ' + ${#numbers.formatDecimal(membership.contributionAmount,1,'COMMA', 2, 'POINT')}"></h4>
                        <h4 th:text="'Дата начала оплаты: ' + ${membership.startLocalDate}"></h4>
                        <h4 th:text="'Дата окончания оплаты: ' + ${membership.endLocalDate}"></h4>
                    </div>
                </div>


            </div>
        </div>
    </div>
</main>
</body>
</html>