<!DOCTYPE html>
<html lang="ru" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"/>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/nav">Навигация</div>

<main class="flex-shrink-0">
    <div class="container">

        <div class="row">

            <div class="col-md-2"></div>

            <div class="jumbotron text-center rounded col-md-8 align-self-center pt-5">

                <h1 class="text-center text-dark">Список участков</h1>

                <a class="btn btn-primary mb-3"
                   href="/admin/">Панель администратора</a>

                <div class="mb-4">
                    <a class="btn btn-success " th:href="@{create}">Создать участок</a>
                </div>

                <div th:if="${#lists.isEmpty(model.landModels)}" class="alert alert-info">

                </div>

                <div th:if="${not #lists.isEmpty(model.landModels)}">
                    <div th:each="land : ${model.landModels}"
                         class="d-flex flex-column bg-text mb-3 p-3 border rounded">
                        <h4 th:text="'Id: ' + ${land.id}"></h4>
                        <h4 th:text="'Номер участка: ' + ${land.number}"></h4>
                        <h4 th:text="'Размер в сотках: ' + ${land.sizeInArs}"></h4>
                        <h4 th:text="'Тип счетчика: ' + ${land.electricMeter}">Тип счетчика</h4>
                    </div>
                </div>


            </div>
        </div>
    </div>
</main>
</body>
</html>